{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP</title>
    <link rel="stylesheet" href="{% static 'WeddingInvitationApp/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Tsholo & Sbu</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#our_story_img">Our Story</a></li>
                    <li><a href="#details">The Big Day</a></li>
                    <!-- <li><a href="#gallery">Gallery</a></li> -->
                    <!-- <li><a href="#contact">Contact</a></li> -->
                    <li><a href="#rsvp">RSVP</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <header>
        <div>
            <img src="{% static 'WeddingInvitationApp/images/1.png' %}" alt="Lovers" width="1366px" height="700px"
                style="margin: 0px;">
        </div>
    </header>
    
    <main class="container" style="padding-left: 10%; padding-right: 10%; ">
        
        
        <div class="info-cards" style="padding-left: 0px; padding-right: 0px;">

            <section style="width: 100%; background-color: #F6F2E7; box-shadow: none;">
            
                <h2>The</h2>
                <h1 style="font-size: 30px;">Molefe & Mahlangu</h1>
                <h2>Families Joyfully Invite You To The Mahlabiso Celebration of Tsholofelo & Sibusiso</h2>
            </section>
            <section>
                <div class="first-card" style="padding-top: 0px;">
                    <img src="{% static 'WeddingInvitationApp/images/ndebele_print.jpeg' %}" alt="Ndebele Print">
                </div>  
                <h1>Countdown To The Big day</h1>
                <h2 id="countdown"></h2>
            </section>
            
            
            <img src="{% static 'WeddingInvitationApp/images/2.png' %}" alt="">
            
            <section id="story">
                
                <div class="first-card" style="padding-top: 0px;">
                    <img id="our_story_img" src="{% static 'WeddingInvitationApp/images/ndebele_print.jpeg' %}" alt="Ndebele Print">
                </div>
                <!--<h2 class="container-heading" style="height: 100px;">Our Story</h2>-->
                <div id="countdown"></div>
                <p>
                    We first met in 2002, as wide-eyed 5th graders in Primary school. It was there that we built a
                    friendship that would
                    withstand the test of time. Though high school took us in different directions, fate had a special plan
                    for us. At
                    university, we found each other again without any prior communication. <br> We rekindled our bond with
                    movie dates and
                    long
                    walks through the city. After graduation, Sbu moved away for work, and once again, our paths diverged.
                    But destiny
                    wasn’t done with us yet. <br><br> When Sbu moved back to Pretoria, he reached out, and our first date
                    back together was
                    a
                    beautiful journey down memory lane, talking and laughing until the sun set.
                    <br><br>
                    Our first impressions of each other were simple but telling. Tsholo’s quirky humor and intelligence
                    caught Sbu’s eye,
                    while Tsholo found Sbu’s nerdy charm fascinating and endearing. It was as if our childhood friendship
                    never skipped a
                    beat. <br><br>

                    As we look towards our future, we are excited to build a life filled with love, friendship, and family.
                    We can’t wait to
                    grow together, to face life’s adventures hand in hand, and to create a legacy of love.
                </p>
            </section>

            <img src="{% static 'WeddingInvitationApp/images/3.png' %}" alt="">

            <section id="details">
                <div class="first-card" style="padding-top: 0px;">
                    <img src="{% static 'WeddingInvitationApp/images/ndebele_print.jpeg' %}" alt="Ndebele Print">
                </div>


                <div class="detail-card">
                    <h3><u>Date</u></h3>
                    <p>21st September 2024</p>
                </div>

                <div class="detail-card">
                    <h3><u>Church Ceremony</u></h3>
                    <table>
                        <tr>
                            <td><p><strong>Time:</strong> 11:00</p></td>
                        </tr>
                        <tr>
                            <td><p><strong>Venue:</strong><p>United Reformed Charch in South Africa(Dutch)<br> 1745 Section D Ekangala</p></p></td>
                        </tr>
                    </table>
                </div>

                <div class="detail-card">
                    <h3><u>Home Ceremony</u></h3>
                    <table>
                        <tr>
                            <td>
                                <p><strong>Time:</strong> 13:00</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Venue:</strong>
                                <p>1102 Section D Ekangala</p>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.7267642746383!2d28.746073281214073!3d-25.696472322086972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1eeaabf250eb8eeb%3A0xc2a702c005509ddd!2s1102%20Section%20D%2C%20Ekangala%20D%2C%20Ekangala%2C%201021!5e0!3m2!1sen!2sza!4v1722812685257!5m2!1sen!2sza"
                    width="75%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>

            <img src="{% static 'WeddingInvitationApp/images/4.png' %}">

            
            <section id="rsvp">
                <div class="photo_class">
                    <form id="rsvp-form" method="post" action="{% url 'rsvp' %}">
                        {% csrf_token %}
                        
                         
                        <label for="name">Your First Name(s):</label>
                        <input type="text" id="name" name="name" placeholder="eg. Tshepo Steve" required>
                        
                        <label for="name">Your Last Name:</label>
                        <input type="text" id="surname" name="surname" placeholder="eg. Kekana" required>
                        
                        <label for="cell">Cellphone Number</label>
                        <input type="number" name="cell" id="cell" placeholder="eg. 0612345678">
                        
                        <label for="attending">Are you attending the church ceremony?:</label>
                        {{ form.church_attendence }}
                        
                        <label for="attending">Are you attending the home ceremony?:</label>
                        {{ form.home_attendence }}
                        
                        <label for="song_request">Enter a name of a song that you would like to hear at the wedding</label>
                        <input id="song_request" type="text" name="song_request" placeholder="eg. Thathi Sgubu by Bongo Maffin">
                        
                        <div style="display: flex; width: 50%; align-items: center; justify-content: center;">
                            <button id="add-plus-one-btn" type="button" style="margin: 5px;">Add A Plus One</button>
                            <button id="btn" type="submit" onclick="submitAlert()" style="margin: 5px;">Submit</button>
                        </div>
                        
                        
                        <div id="popup" class="popup" hidden style="
                            background-color: #fff; 
                            position: relative;
                            bottom: 20rem;
                            padding: 20px;
                            margin-right: 425px;
                            border-radius: 15px;
                            box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
                        "> 
                            <button id="close_btn" class="close_btn" type="button" style="
                                font-size: 20px;
                                color: #fff;
                                padding-left: 95%;
                                background-color: gray; 
                                border-radius: 50%;
                                width: 20px;
                                margin-left: 95%;
                                margin-top: 0;
                                margin-bottom: 0;
                                padding: 0px;"
                                >x</button>
                            <h2 style="margin-top: 10px;">Guests Plus One Details</h2>
                            <label for="plus_one_name">Name:</label>
                            <input type="text" name="plus_one_name" id="plus_one_name" style="
                                width: 50%;
                                border-top: 0;
                                border-left: 0;
                                border-right: 0;
                                background-color: #F6F2E7;
                                border: 1px solid #9F5B4C;
                            ">
                            <br>
                            <label for="plus_one_surname">Surname:</label>
                            <input type="text" name="plus_one_surname" id="plus_one_surname"style="
                                width: 50%;
                                border-top: 0;
                                border-left: 0;
                                border-right: 0;
                                background-color: #F6F2E7;
                                border: 1px solid #9F5B4C;
                            ">
                            <br>
                            <label for="plus_one_relation">Relationship:</label>
                            <select name="plus_one_relation" id="plus_one_relation"style="
                                width: 50%;
                                border-top: 0;
                                border-left: 0;
                                border-right: 0;
                                background-color: #F6F2E7;
                                border: 1px solid #9F5B4C;
                            ">
                                <option value="Family">Family</option>
                                <option value="Partner">Partner</option>
                                <option value="Spouse">Spouse</option>
                                <option value="Friend">Friend</option>
                            </select>
                            <button id="add-btn" type="button">Add</button>
                        </div>

                        
                    </form>
                    
                </div>
     
            </section>

            <section id="no-kids">
                <div class="first-card" style="padding-top: 0px;">
                    <img src="{% static 'WeddingInvitationApp/images/ndebele_print.jpeg' %}" alt="Ndebele Print">
                </div>
                <h2>P.S</h2>
                <h1>❤️</h1>
                <h1>NO KIDS ALLOWED</h1>
            </section>
            
        <section id="gift-registry">
            <div class="first-card" style="padding-top: 0px;">
                <img src="{% static 'WeddingInvitationApp/images/ndebele_print.jpeg' %}" alt="Ndebele Print">
            </div>
            <h1>Gift Registry</h1>
            <img src="{% static 'WeddingInvitationApp/images/gift.jpeg' %}" style="border-radius: 15px;" alt="" class="gift-image">
        
            <div class="gift-reg-container">
                <div class="gift-reg">
                    <h5>We are so excited to celebrate our special day with you! Your
                        presence is the best gift we could ask for. If you'd like
                        to give a little extra love, we’ve put together a registry of things we adore.</h5>
        
                    <h5>With hugs and happiness,</h5>
                    <h5>Tsholo & Sbu</h5>
                </div>
                <div class="logos" style="display: flexbox;" >
                    <img class="img-logo" src="{% static 'WeddingInvitationApp/images/home.png' %}" alt="">
                    <img src="{% static 'WeddingInvitationApp/images/makro.png' %}" alt="" style="height: 30px; width: 100px;margin-bottom: 30px;">
                    <img class="img-logo" src="{% static 'WeddingInvitationApp/images/volpes.png' %}" alt="">
                    <img class="img-logo" src="{% static 'WeddingInvitationApp/images/takealot.svg' %}" alt="">
                    <img class="img-logo" src="{% static 'WeddingInvitationApp/images/mrph.png' %}" alt="">
                </div>
                <div class="gift-reg-button">
                    <button type="button"
                        onclick="location.href='https://www.mrphome.com/en_za/giftregistry/view/index/id/TMWEDD3062'">
                        <i class="fa fa-gift" aria-hidden="true"></i> Buy Gift
                    </button>
                </div>
            </div>
        </section>
        
        <style>
            .img-logo {
                width: 100px;
                height: 80px;
            }

            #gift-registry {
                padding: 20px;
                text-align: center;
            }
        
            h1 {
                margin: 20px 0;
            }
        
            .gift-reg-container {
                display: flex;
                flex-direction: column;
                /* Default layout for small screens */
                align-items: center;
                gap: 20px;
                width: 100%;
                max-width: 600px;
                /* Adjust to match other elements */
                margin: 0 auto;
                /* Center container */
            }
        
            .gift-reg {
                background-color: #ffffffbe;
                padding: 20px;
                width: 100%;
                height: auto;
                border-radius: 15px;
                box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
                box-sizing: border-box;
                overflow: hidden;
            }
        
            .gift-reg-button {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        
            .gift-reg-button button {
                border-radius: 15px;
                height: 50px;
                width: 110px;
                border: none;
                background-color: #db843d;
                color: #F6F2E7;
                font-size: large;
                cursor: pointer;
                transition: background-color 0.3s;
            }
        
            .gift-reg-button button:hover {
                background-color: #ff7d12c2;
            }
        
            /* Responsive Design */
            
        </style>



        </div>
    </main>
 
    <footer>
        <p>&copy; 2024 - Tsholo & Sbu | ChopaDevs</p>
    </footer>

    <script>
        document.getElementById('add-plus-one-btn').addEventListener('click', function () {
                document.getElementById('popup').style.display = 'block';
                //document.querySelector('.photo_class').classList.add('blur');
            });

            document.getElementById('close_btn').addEventListener('click', function () {
                document.getElementById('popup').style.display = 'none';
                document.querySelector('.photo_class').classList.remove('blur');
                document.getElementById('plus_one_name').value = '';
                document.getElementById('plus_one_surname').value = '';
                document.getElementById('plus_one_relation').selectedIndex = 0;
            });

            document.getElementById('add-btn').addEventListener('click', function () {
                const name = document.getElementById('plus_one_name').value;
                const surname = document.getElementById('plus_one_surname').value;
                const relation = document.getElementById('plus_one_relation').value;

                if (name && surname && relation) {
                    document.getElementById('popup').style.display = 'none';
                    document.querySelector('.photo_class').classList.remove('blur');
                } else {
                    alert('Please fill in all fields.');
                }
            });

    </script>

    <!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    


        document.addEventListener('DOMContentLoaded', () => {
                const rsvpForm = document.getElementById('rsvp-form');
                rsvpForm.addEventListener('submit', (e) => {
                    e.preventDefault();
                    const name = document.getElementById('name').value;
                    const attending = document.getElementById('attending').value;
                    if (name && attending) {
                        alert(`Thank you, ${name}, for your RSVP. You have selected to ${attending === 'yes' ? 'attend' : 'not attend'} the wedding.`);
                        rsvpForm.reset();
                    }
                });
            });

            $(window).scroll(function () {
                if ($(document).scrollTop() > 50) {
                    $('.nav').addClass('affix');
                    console.log("OK");
                } else {
                    $('.nav').removeClass('affix');
                }
            });

            function submitAlert() {
                alert("Form submitted!");
            }

            $('.navTrigger').click(function () {
                $(this).toggleClass('active');
                console.log("Clicked menu");
                $("#mainListDiv").toggleClass("show_list");
                $("#mainListDiv").fadeIn();

            });

            document.getElementById('search').addEventListener('keyup', function () {
                var searchTerm = this.value.toLowerCase();
                var tables = document.querySelectorAll('table tbody');
                tables.forEach(function (tbody) {
                    var rows = tbody.querySelectorAll('tr');
                    rows.forEach(function (row) {
                        var cells = row.querySelectorAll('td');
                        var found = Array.from(cells).some(function (cell) {
                            return cell.textContent.toLowerCase().includes(searchTerm);
                        });
                        row.style.display = found ? '' : 'none';
                    });
                });
            });
    </script>
    <script>
        // Set the date we're counting down to
            var countDownDate = new Date("Sep 21, 2024 00:00:00").getTime();

            // Update the count down every 1 second
            var countdownfunction = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="countdown"
                document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

                // If the count down is over, write some text 
                if (distance < 0) {
                    clearInterval(countdownfunction);
                    document.getElementById("countdown").innerHTML = "EXPIRED";
                }
            }, 1000);
    </script>
</body>

</html>